// Color Variables
$primary-color: #96A097;  // Pewter
$text-color: #777;
$text-color-dark: #706F5D;  // instead of #222 Nickel
$body-color: #fff;
$border-color: #ECECEC;
$black: #000;
$white: #fff;
$alabaster: #D8DBCE;  // Alabaster
$light: #F2F5EB;  // Ivory
$grulo: #A59E8C;  // Grulo


// Font Variables
$secondary-font: 'Lato', sans-serif;
$primary-font: 'EB+Garamond', serif;
$font-hosting: 'none'; // From where to include Lato from: [google|local|none]
$icon-font: 'themify';
